@import url("../../theme/variables.css");

.article_image{

}

.article_title{
    font-size: 2rem;
    text-align: center;
}

.article_paragraph{
    text-align: justify;
    padding:2%;
    margin: 0;
}

.article{
    --padding-start: 2.5%;
    --padding-end: 2.5%;
    --padding-top: 2.5%;
}

.popover_style{
    padding: 5%;
}

.popover_style > p{
    text-align: justify;
}

.popover_style > h2{
    text-align: center;
}

.popover_solution {
    --max-width : 95vw;
    --width : 95vw;
}